#root{
	background-color: #edede9;
	margin: 0 auto;
	margin-top: 32px;
	padding: 24px;
	width: 400px;
	border-radius: 8px;
	border: 1px solid #d6ccc2;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
