.modal{
  background-color: rgba(32, 35, 41, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  position: fixed;
  top: 55px;
  left: 50%;
  width: 600px;
  height: 400px;
  transform: translate(-50%, 0);
  border-radius: 8px;
  border: solid 1px #333;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}